:root{
  --primary-color: #52d6edff;
  --secondary-color: #ffe1f0ff;
  --font-color: #484848ff;
  --secondary-font-color: #767676ff;
  --bg-color: #ffffffff;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #585a61;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #7b94c9;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h1{
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
  font-weight: bold;
}

h4{
  font-size: 14px;
}

/* -------------------------------------------------------------
# Table of content 
---------------------------------------------------------------*/
tr{
  margin: 0;
}
.join-as-washer-btn {
  background: var(--primary-color);
  color: var(--bg-color);
  padding: 12px 25px;
  margin-left: 30px;
  color: var(--bg-color);
  line-height: 1;
  border-radius: 50px;
}

.join-as-washer-btn:hover {
  background: var(--primary-color);
  color: #fff;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #748ec6;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  margin: 5% auto auto auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 140px 0 100px 0;
}

/* #hero::before {
  content: '';
  position: absolute;
  right: -100%;
  top: 20%;
  width: 250%;
  height: 200%;
  z-index: -1;
  background-color: #e8ecf5;
  transform: skewY(135deg);
} */

#hero h1 {
  margin: 0 0 10px 0;
  /* font-size: 48px;
  font-weight: 500;
  line-height: 56px; */
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: #515f7d;
  margin-bottom: 50px;
}

#hero .download-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  padding: 8px 24px 10px 46px;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  background: #47536e;
  position: relative;
}

#hero .download-btn:hover {
  background: var(--primary-color);
}

#hero .download-btn i {
  font-size: 20px;
  position: absolute;
  left: 18px;
  top: 8.5px;
}

#hero .download-btn + .download-btn {
  margin-left: 20px;
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
  }
  #hero .download-btn + .download-btn {
    margin: 0 10px;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    /* font-size: 28px;
    line-height: 36px; */
  }
  #hero h2 {
    /* font-size: 18px;
    line-height: 24px; */
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f2f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  /* font-size: 32px;
  font-weight: 400; */
  margin-bottom: 20px;
  padding-bottom: 0;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background-color: #f6f8fb;
  min-height: 40px;
}

.breadcrumbs h2 {
  /* font-size: 24px;
  font-weight: 300; */
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# App Features
--------------------------------------------------------------*/
.features .content {
  padding: 30px 0;
}

.features .content .icon-box {
  margin-top: 25px;
}

.features .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .content .icon-box i {
  font-size: 48px;
  float: left;
  color: var(--primary-color);
}

.features .content .icon-box p {
  font-size: 15px;
  color: #979aa1;
  margin-left: 60px;
}

@media (max-width: 991px) {
  .features .image {
    text-align: center;
  }
  .features .image img {
    max-width: 80%;
  }
}

@media (max-width: 667px) {
  .features .image img {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.details .content + .content {
  margin-top: 100px;
}

.details .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #47536e;
}

.details .content ul {
  list-style: none;
  padding: 0;
}

.details .content ul li {
  padding-bottom: 10px;
}

.details .content ul i {
  font-size: 24px;
  padding-right: 2px;
  color: var(--primary-color);
  line-height: 0;
}

.details .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
  overflow: hidden;
}

.gallery .swiper-slide {
  transition: 0.3s;
}

.gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--primary-color);
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.gallery .swiper-slide-active {
  text-align: center;
}

@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 40px 0;
  }
  .gallery .swiper-slide-active {
    border: 6px solid var(--primary-color);
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.2);
    margin-top: 10px;
    border-radius: 25px;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 10px 30px 50px;
  min-height: 200px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #e8ecf5;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--primary-color);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .row {
  padding-top: 40px;
}

.pricing .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
}

.pricing h3 {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 28px;
}

.pricing h4 {
  font-size: 46px;
  color: var(--primary-color);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 18px;
  display: block;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding-bottom: 12px;
}

.pricing ul i {
  color: var(--primary-color);
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
}

.pricing ul .na i {
  color: #ccc;
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .get-started-btn {
  background: #47536e;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 20px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  transition: 0.3s;
}

.pricing .get-started-btn:hover {
  background: var(--primary-color);
}

.pricing .featured {
  z-index: 10;
  margin: -30px -5px 0 -5px;
}

.pricing .featured .get-started-btn {
  background: var(--primary-color);
}

.pricing .featured .get-started-btn:hover {
  background: #748ec6;
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .accordion-list {
  padding: 0 100px;
}

.faq .accordion-list ul {
  padding: 0;
  list-style: none;
}

.faq .accordion-list li + li {
  margin-top: 15px;
}

.faq .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .accordion-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #b1c0df;
}

.faq .accordion-list .icon-show, .faq .accordion-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .accordion-list .icon-show {
  display: none;
}

.faq .accordion-list a.collapsed {
  color: #343a40;
}

.faq .accordion-list a.collapsed:hover {
  color: var(--primary-color);
}

.faq .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .accordion-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  padding: 20px 40px;
  background: #f1f3f6;
  color: #47536e;
  text-align: center;
  border: 1px solid #fff;
}

.contact .info i {
  font-size: 48px;
  color: #9fb2d8;
  margin-bottom: 15px;
}

.contact .info h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  font-size: 15px;
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form label {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
  color: #8a8c95;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: var(--primary-color);
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #fff;
  border: 2px solid var(--primary-color);
  padding: 10px 24px;
  color: var(--primary-color);
  transition: 0.4s;
  border-radius: 50px;
  margin-top: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: var(--primary-color);
  color: #fff;
}

@media (max-width: 1024px) {
  .contact .php-email-form {
    padding: 30px 15px 15px 15px;
  }
}

@media (max-width: 768px) {
  .contact .php-email-form {
    padding: 15px 0 0 0;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Michal!!!!!!!!!!! */

  /* Forms
     ========================================================================== */
  /**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
   button,
   input,
   optgroup,
   select,
   textarea {
     font-family: sans-serif;
     /* 1 */
     font-size: 100%;
     /* 1 */
     line-height: 1.15;
     /* 1 */
     margin: 0;
     /* 2 */
   }
   
   /**
    * Show the overflow in IE.
    * 1. Show the overflow in Edge.
    */
   button,
   input {
     /* 1 */
     overflow: visible;
   }
   
   /**
    * Remove the inheritance of text transform in Edge, Firefox, and IE.
    * 1. Remove the inheritance of text transform in Firefox.
    */
   button,
   select {
     /* 1 */
     text-transform: none;
   }
   
   /**
    * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
    *    controls in Android 4.
    * 2. Correct the inability to style clickable types in iOS and Safari.
    */
   button,
   html [type="button"],
   [type="reset"],
   [type="submit"] {
     -webkit-appearance: button;
     /* 2 */
   }
   
   /**
    * Remove the inner border and padding in Firefox.
    */
   button::-moz-focus-inner,
   [type="button"]::-moz-focus-inner,
   [type="reset"]::-moz-focus-inner,
   [type="submit"]::-moz-focus-inner {
     border-style: none;
     padding: 0;
   }
   
   /**
    * Restore the focus styles unset by the previous rule.
    */
   button:-moz-focusring,
   [type="button"]:-moz-focusring,
   [type="reset"]:-moz-focusring,
   [type="submit"]:-moz-focusring {
     outline: 1px dotted ButtonText;
   }
   
   /**
    * Correct the padding in Firefox.
    */
   fieldset {
     padding: 0.35em 0.75em 0.625em;
   }
   
   /**
    * 1. Correct the text wrapping in Edge and IE.
    * 2. Correct the color inheritance from `fieldset` elements in IE.
    * 3. Remove the padding so developers are not caught out when they zero out
    *    `fieldset` elements in all browsers.
    */
   legend {
     box-sizing: border-box;
     /* 1 */
     color: inherit;
     /* 2 */
     display: table;
     /* 1 */
     max-width: 100%;
     /* 1 */
     padding: 0;
     /* 3 */
     white-space: normal;
     /* 1 */
   }
   
   /**
    * 1. Add the correct display in IE 9-.
    * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
    */
   progress {
     display: inline-block;
     /* 1 */
     vertical-align: baseline;
     /* 2 */
   }
   
   /**
    * Remove the default vertical scrollbar in IE.
    */
   textarea {
     overflow: auto;
   }
   
   /**
    * 1. Add the correct box sizing in IE 10-.
    * 2. Remove the padding in IE 10-.
    */
   [type="checkbox"],
   [type="radio"] {
     box-sizing: border-box;
     /* 1 */
     padding: 0;
     /* 2 */
   }
   
   /**
    * Correct the cursor style of increment and decrement buttons in Chrome.
    */
   [type="number"]::-webkit-inner-spin-button,
   [type="number"]::-webkit-outer-spin-button {
     height: auto;
   }
   
   /**
    * 1. Correct the odd appearance in Chrome and Safari.
    * 2. Correct the outline style in Safari.
    */
   [type="search"] {
     -webkit-appearance: textfield;
     /* 1 */
     outline-offset: -2px;
     /* 2 */
   }
   
   /**
    * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
    */
   [type="search"]::-webkit-search-cancel-button,
   [type="search"]::-webkit-search-decoration {
     -webkit-appearance: none;
   }
   
   /**
    * 1. Correct the inability to style clickable types in iOS and Safari.
    * 2. Change font properties to `inherit` in Safari.
    */
   ::-webkit-file-upload-button {
     -webkit-appearance: button;
     /* 1 */
     font: inherit;
     /* 2 */
   }
   
   /* Interactive
      ========================================================================== */
   /*
    * Add the correct display in IE 9-.
    * 1. Add the correct display in Edge, IE, and Firefox.
    */
   details,
   menu {
     display: block;
   }
   
   /*
    * Add the correct display in all browsers.
    */
   summary {
     display: list-item;
   }
   
   /* Scripting
      ========================================================================== */
   /**
    * Add the correct display in IE 9-.
    */
   canvas {
     display: inline-block;
   }
   
   /**
    * Add the correct display in IE.
    */
   template {
     display: none;
   }
   
   /* Hidden
      ========================================================================== */
   /**
    * Add the correct display in IE 10-.
    */
   [hidden] {
     display: none;
   }
   
   html {
     height: 100%;
   }
   
   fieldset {
     margin: 0;
     padding: 0;
     -webkit-margin-start: 0;
     -webkit-margin-end: 0;
     -webkit-padding-before: 0;
     -webkit-padding-start: 0;
     -webkit-padding-end: 0;
     -webkit-padding-after: 0;
     border: 0;
   }
   
   legend {
     margin: 0;
     padding: 0;
     display: block;
     -webkit-padding-start: 0;
     -webkit-padding-end: 0;
   }
   
   /*===============================
   =            Choices            =
   ===============================*/
   .choices {
     position: relative;
     margin-bottom: 24px;
     font-size: 16px;
   }
   
   .choices:focus {
     outline: none;
   }
   
   .choices:last-child {
     margin-bottom: 0;
   }
   
   .choices.is-disabled .choices__inner, .choices.is-disabled .choices__input {
     background-color: #EAEAEA;
     cursor: not-allowed;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
   }
   
   .choices.is-disabled .choices__item {
     cursor: not-allowed;
   }
   
   .choices[data-type*="select-one"] {
     cursor: pointer;
   }
   
   .choices[data-type*="select-one"] .choices__inner {
     padding-bottom: 7.5px;
   }
   
   .choices[data-type*="select-one"] .choices__input {
     display: block;
     width: 100%;
     padding: 10px;
     border-bottom: 1px solid #DDDDDD;
     background-color: #FFFFFF;
     margin: 0;
   }
   
   .choices[data-type*="select-one"] .choices__button {
     background-image: url("../../icons/cross-inverse.svg");
     padding: 0;
     background-size: 8px;
     height: 100%;
     position: absolute;
     top: 50%;
     right: 0;
     margin-top: -10px;
     margin-right: 25px;
     height: 20px;
     width: 20px;
     border-radius: 10em;
     opacity: .5;
   }
   
   .choices[data-type*="select-one"] .choices__button:hover, .choices[data-type*="select-one"] .choices__button:focus {
     opacity: 1;
   }
   
   .choices[data-type*="select-one"] .choices__button:focus {
     box-shadow: 0px 0px 0px 2px #00BCD4;
   }
   
   .choices[data-type*="select-one"]:after {
     content: "";
     height: 0;
     width: 0;
     border-style: solid;
     border-color: #333333 transparent transparent transparent;
     border-width: 5px;
     position: absolute;
     right: 11.5px;
     top: 50%;
     margin-top: -2.5px;
     pointer-events: none;
   }
   
   .choices[data-type*="select-one"].is-open:after {
     border-color: transparent transparent #333333 transparent;
     margin-top: -7.5px;
   }
   
   .choices[data-type*="select-one"][dir="rtl"]:after {
     left: 11.5px;
     right: auto;
   }
   
   .choices[data-type*="select-one"][dir="rtl"] .choices__button {
     right: auto;
     left: 0;
     margin-left: 25px;
     margin-right: 0;
   }
   
   .choices[data-type*="select-multiple"] .choices__inner, .choices[data-type*="text"] .choices__inner {
     cursor: text;
   }
   
   .choices[data-type*="select-multiple"] .choices__button, .choices[data-type*="text"] .choices__button {
     position: relative;
     display: inline-block;
     margin-top: 0;
     margin-right: -4px;
     margin-bottom: 0;
     margin-left: 8px;
     padding-left: 16px;
     border-left: 1px solid #008fa1;
     background-image: url("../../icons/cross.svg");
     background-size: 8px;
     width: 8px;
     line-height: 1;
     opacity: .75;
   }
   
   .choices[data-type*="select-multiple"] .choices__button:hover, .choices[data-type*="select-multiple"] .choices__button:focus, .choices[data-type*="text"] .choices__button:hover, .choices[data-type*="text"] .choices__button:focus {
     opacity: 1;
   }
   
   .choices__inner {
     display: inline-block;
     vertical-align: top;
     width: 100%;
     background-color: #f9f9f9;
     padding: 7.5px 7.5px 3.75px;
     border: 1px solid #DDDDDD;
     border-radius: 2.5px;
     font-size: 14px;
     min-height: 44px;
     overflow: hidden;
   }
   
   .is-focused .choices__inner, .is-open .choices__inner {
     border-color: #b7b7b7;
   }
   
   .is-open .choices__inner {
     border-radius: 2.5px 2.5px 0 0;
   }
   
   .is-flipped.is-open .choices__inner {
     border-radius: 0 0 2.5px 2.5px;
   }
   
   .choices__list {
     margin: 0;
     padding-left: 0;
     list-style: none;
   }
   
   .choices__list--single {
     display: inline-block;
     padding: 4px 16px 4px 4px;
     width: 100%;
   }
   
   [dir="rtl"] .choices__list--single {
     padding-right: 4px;
     padding-left: 16px;
   }
   
   .choices__list--single .choices__item {
     width: 100%;
   }
   
   .choices__list--multiple {
     display: inline;
   }
   
   .choices__list--multiple .choices__item {
     display: inline-block;
     vertical-align: middle;
     border-radius: 20px;
     padding: 4px 10px;
     font-size: 12px;
     font-weight: 500;
     margin-right: 3.75px;
     margin-bottom: 3.75px;
     background-color: #00BCD4;
     border: 1px solid #00a5bb;
     color: #FFFFFF;
     word-break: break-all;
   }
   
   .choices__list--multiple .choices__item[data-deletable] {
     padding-right: 5px;
   }
   
   [dir="rtl"] .choices__list--multiple .choices__item {
     margin-right: 0;
     margin-left: 3.75px;
   }
   
   .choices__list--multiple .choices__item.is-highlighted {
     background-color: #00a5bb;
     border: 1px solid #008fa1;
   }
   
   .is-disabled .choices__list--multiple .choices__item {
     background-color: #aaaaaa;
     border: 1px solid #919191;
   }
   
   .choices__list--dropdown {
     display: none;
     z-index: 1;
     position: absolute;
     width: 100%;
     background-color: #FFFFFF;
     border: 1px solid #DDDDDD;
     top: 100%;
     margin-top: -1px;
     border-bottom-left-radius: 2.5px;
     border-bottom-right-radius: 2.5px;
     overflow: hidden;
     word-break: break-all;
   }
   
   .choices__list--dropdown.is-active {
     display: block;
   }
   
   .is-open .choices__list--dropdown {
     border-color: #b7b7b7;
   }
   
   .is-flipped .choices__list--dropdown {
     top: auto;
     bottom: 100%;
     margin-top: 0;
     margin-bottom: -1px;
     border-radius: .25rem .25rem 0 0;
   }
   
   .choices__list--dropdown .choices__list {
     position: relative;
     max-height: 300px;
     overflow: auto;
     -webkit-overflow-scrolling: touch;
     will-change: scroll-position;
   }
   
   .choices__list--dropdown .choices__item {
     position: relative;
     padding: 10px;
     font-size: 14px;
   }
   
   [dir="rtl"] .choices__list--dropdown .choices__item {
     text-align: right;
   }
   
   @media (min-width: 640px) {
     .choices__list--dropdown .choices__item--selectable {
       padding-right: 100px;
     }
     .choices__list--dropdown .choices__item--selectable:after {
       content: attr(data-select-text);
       font-size: 12px;
       opacity: 0;
       position: absolute;
       right: 10px;
       top: 50%;
       transform: translateY(-50%);
     }
     [dir="rtl"] .choices__list--dropdown .choices__item--selectable {
       text-align: right;
       padding-left: 100px;
       padding-right: 10px;
     }
     [dir="rtl"] .choices__list--dropdown .choices__item--selectable:after {
       right: auto;
       left: 10px;
     }
   }
   
   .choices__list--dropdown .choices__item--selectable.is-highlighted {
     background-color: #f2f2f2;
   }
   
   .choices__list--dropdown .choices__item--selectable.is-highlighted:after {
     opacity: .5;
   }
   
   .choices__item {
     cursor: default;
   }
   
   .choices__item--selectable {
     cursor: pointer;
   }
   
   .choices__item--disabled {
     cursor: not-allowed;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
     opacity: .5;
   }
   
   .choices__heading {
     font-weight: 600;
     font-size: 12px;
     padding: 10px;
     border-bottom: 1px solid #f7f7f7;
     color: gray;
   }
   
   .choices__button {
     text-indent: -9999px;
     -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
     border: 0;
     background-color: transparent;
     background-repeat: no-repeat;
     background-position: center;
     cursor: pointer;
   }
   
   .choices__button:focus {
     outline: none;
   }
   
   .choices__input {
     display: inline-block;
     vertical-align: baseline;
     background-color: #f9f9f9;
     font-size: 14px;
     margin-bottom: 5px;
     border: 0;
     border-radius: 0;
     max-width: 100%;
     padding: 4px 0 4px 2px;
   }
   
   .choices__input:focus {
     outline: 0;
   }
   
   [dir="rtl"] .choices__input {
     padding-right: 2px;
     padding-left: 0;
   }
   
   .choices__placeholder {
     opacity: .5;
   }
   
   /*=====  End of Choices  ======*/
   .flatpickr-calendar {
     background: transparent;
     opacity: 0;
     display: none;
     text-align: center;
     visibility: hidden;
     padding: 0;
     animation: none;
     direction: ltr;
     border: 0;
     font-size: 14px;
     line-height: 24px;
     border-radius: 5px;
     position: absolute;
     width: 307.875px;
     box-sizing: border-box;
     -ms-touch-action: manipulation;
     touch-action: manipulation;
     background: #fff;
     box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
   }
   
   .flatpickr-calendar.open, .flatpickr-calendar.inline {
     opacity: 1;
     max-height: 640px;
     visibility: visible;
   }
   
   .flatpickr-calendar.open {
     display: inline-block;
     z-index: 99999;
   }
   
   .flatpickr-calendar.animate.open {
     animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
   }
   
   .flatpickr-calendar.inline {
     display: block;
     position: relative;
     top: 2px;
   }
   
   .flatpickr-calendar.static {
     position: absolute;
     top: calc(100% + 2px);
   }
   
   .flatpickr-calendar.static.open {
     z-index: 999;
     display: block;
   }
   
   .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
     box-shadow: none !important;
   }
   
   .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
     box-shadow: -2px 0 0 #e6e6e6,5px 0 0 #e6e6e6;
   }
   
   .flatpickr-calendar .hasWeeks .dayContainer, .flatpickr-calendar .hasTime .dayContainer {
     border-bottom: 0;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
   }
   
   .flatpickr-calendar .hasWeeks .dayContainer {
     border-left: 0;
   }
   
   .flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
     height: 40px;
     border-top: 1px solid #e6e6e6;
   }
   
   .flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
     height: auto;
   }
   
   .flatpickr-calendar:before, .flatpickr-calendar:after {
     position: absolute;
     display: block;
     pointer-events: none;
     border: solid transparent;
     content: '';
     height: 0;
     width: 0;
     left: 22px;
   }
   
   .flatpickr-calendar.rightMost:before, .flatpickr-calendar.rightMost:after {
     left: auto;
     right: 22px;
   }
   
   .flatpickr-calendar:before {
     border-width: 5px;
     margin: 0 -5px;
   }
   
   .flatpickr-calendar:after {
     border-width: 4px;
     margin: 0 -4px;
   }
   
   .flatpickr-calendar.arrowTop:before, .flatpickr-calendar.arrowTop:after {
     bottom: 100%;
   }
   
   .flatpickr-calendar.arrowTop:before {
     border-bottom-color: #e6e6e6;
   }
   
   .flatpickr-calendar.arrowTop:after {
     border-bottom-color: #fff;
   }
   
   .flatpickr-calendar.arrowBottom:before, .flatpickr-calendar.arrowBottom:after {
     top: 100%;
   }
   
   .flatpickr-calendar.arrowBottom:before {
     border-top-color: #e6e6e6;
   }
   
   .flatpickr-calendar.arrowBottom:after {
     border-top-color: #fff;
   }
   
   .flatpickr-calendar:focus {
     outline: 0;
   }
   
   .flatpickr-wrapper {
     position: relative;
     display: inline-block;
   }
   
   .flatpickr-months {
     display: -ms-flexbox;
     display: flex;
   }
   
   .flatpickr-months .flatpickr-month {
     background: transparent;
     color: rgba(0, 0, 0, 0.9);
     fill: rgba(0, 0, 0, 0.9);
     height: 28px;
     line-height: 1;
     text-align: center;
     position: relative;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     overflow: hidden;
     -ms-flex: 1;
     flex: 1;
   }
   
   .flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
     text-decoration: none;
     cursor: pointer;
     position: absolute;
     top: 0;
     line-height: 16px;
     height: 28px;
     padding: 10px;
     z-index: 3;
     color: rgba(0, 0, 0, 0.9);
     fill: rgba(0, 0, 0, 0.9);
   }
   
   .flatpickr-months .flatpickr-prev-month.disabled, .flatpickr-months .flatpickr-next-month.disabled {
     display: none;
   }
   
   .flatpickr-months .flatpickr-prev-month i, .flatpickr-months .flatpickr-next-month i {
     position: relative;
   }
   
   .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month, .flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
     /*
         /*rtl:begin:ignore*/
     left: 0;
     /*
         /*rtl:end:ignore*/
   }
   
   /*
         /*rtl:begin:ignore*/
   /*
         /*rtl:end:ignore*/
   .flatpickr-months .flatpickr-prev-month.flatpickr-next-month, .flatpickr-months .flatpickr-next-month.flatpickr-next-month {
     /*
         /*rtl:begin:ignore*/
     right: 0;
     /*
         /*rtl:end:ignore*/
   }
   
   /*
         /*rtl:begin:ignore*/
   /*
         /*rtl:end:ignore*/
   .flatpickr-months .flatpickr-prev-month:hover, .flatpickr-months .flatpickr-next-month:hover {
     color: #959ea9;
   }
   
   .flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg {
     fill: #f64747;
   }
   
   .flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg {
     width: 14px;
     height: 14px;
   }
   
   .flatpickr-months .flatpickr-prev-month svg path, .flatpickr-months .flatpickr-next-month svg path {
     transition: fill .1s;
     fill: inherit;
   }
   
   .numInputWrapper {
     position: relative;
     height: auto;
   }
   
   .numInputWrapper input, .numInputWrapper span {
     display: inline-block;
   }
   
   .numInputWrapper input {
     width: 100%;
   }
   
   .numInputWrapper input::-ms-clear {
     display: none;
   }
   
   .numInputWrapper span {
     position: absolute;
     right: 0;
     width: 14px;
     padding: 0 4px 0 2px;
     height: 50%;
     line-height: 50%;
     opacity: 0;
     cursor: pointer;
     border: 1px solid rgba(57, 57, 57, 0.15);
     box-sizing: border-box;
   }
   
   .numInputWrapper span:hover {
     background: rgba(0, 0, 0, 0.1);
   }
   
   .numInputWrapper span:active {
     background: rgba(0, 0, 0, 0.2);
   }
   
   .numInputWrapper span:after {
     display: block;
     content: "";
     position: absolute;
   }
   
   .numInputWrapper span.arrowUp {
     top: 0;
     border-bottom: 0;
   }
   
   .numInputWrapper span.arrowUp:after {
     border-left: 4px solid transparent;
     border-right: 4px solid transparent;
     border-bottom: 4px solid rgba(57, 57, 57, 0.6);
     top: 26%;
   }
   
   .numInputWrapper span.arrowDown {
     top: 50%;
   }
   
   .numInputWrapper span.arrowDown:after {
     border-left: 4px solid transparent;
     border-right: 4px solid transparent;
     border-top: 4px solid rgba(57, 57, 57, 0.6);
     top: 40%;
   }
   
   .numInputWrapper span svg {
     width: inherit;
     height: auto;
   }
   
   .numInputWrapper span svg path {
     fill: rgba(0, 0, 0, 0.5);
   }
   
   .numInputWrapper:hover {
     background: rgba(0, 0, 0, 0.05);
   }
   
   .numInputWrapper:hover span {
     opacity: 1;
   }
   
   .flatpickr-current-month {
     font-size: 135%;
     line-height: inherit;
     font-weight: 300;
     color: inherit;
     position: absolute;
     width: 75%;
     left: 12.5%;
     padding: 6.16px 0 0 0;
     line-height: 1;
     height: 28px;
     display: inline-block;
     text-align: center;
     transform: translate3d(0, 0, 0);
   }
   
   .flatpickr-current-month span.cur-month {
     font-family: inherit;
     font-weight: 700;
     color: inherit;
     display: inline-block;
     margin-left: .5ch;
     padding: 0;
   }
   
   .flatpickr-current-month span.cur-month:hover {
     background: rgba(0, 0, 0, 0.05);
   }
   
   .flatpickr-current-month .numInputWrapper {
     width: 6ch;
     width: 7ch\0;
     display: inline-block;
   }
   
   .flatpickr-current-month .numInputWrapper span.arrowUp:after {
     border-bottom-color: rgba(0, 0, 0, 0.9);
   }
   
   .flatpickr-current-month .numInputWrapper span.arrowDown:after {
     border-top-color: rgba(0, 0, 0, 0.9);
   }
   
   .flatpickr-current-month input.cur-year {
     background: transparent;
     box-sizing: border-box;
     color: inherit;
     cursor: text;
     padding: 0 0 0 .5ch;
     margin: 0;
     display: inline-block;
     font-size: inherit;
     font-family: inherit;
     font-weight: 300;
     line-height: inherit;
     height: auto;
     border: 0;
     border-radius: 0;
     vertical-align: initial;
   }
   
   .flatpickr-current-month input.cur-year:focus {
     outline: 0;
   }
   
   .flatpickr-current-month input.cur-year[disabled], .flatpickr-current-month input.cur-year[disabled]:hover {
     font-size: 100%;
     color: rgba(0, 0, 0, 0.5);
     background: transparent;
     pointer-events: none;
   }
   
   .flatpickr-weekdays {
     background: transparent;
     text-align: center;
     overflow: hidden;
     width: 100%;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
     height: 28px;
   }
   
   .flatpickr-weekdays .flatpickr-weekdaycontainer {
     display: -ms-flexbox;
     display: flex;
     -ms-flex: 1;
     flex: 1;
   }
   
   span.flatpickr-weekday {
     cursor: default;
     font-size: 90%;
     background: transparent;
     color: rgba(0, 0, 0, 0.54);
     line-height: 1;
     margin: 0;
     text-align: center;
     display: block;
     -ms-flex: 1;
     flex: 1;
     font-weight: bolder;
   }
   
   .dayContainer, .flatpickr-weeks {
     padding: 1px 0 0 0;
   }
   
   .flatpickr-days {
     position: relative;
     overflow: hidden;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: start;
     align-items: flex-start;
     width: 307.875px;
   }
   
   .flatpickr-days:focus {
     outline: 0;
   }
   
   .dayContainer {
     padding: 0;
     outline: 0;
     text-align: left;
     width: 307.875px;
     min-width: 307.875px;
     max-width: 307.875px;
     box-sizing: border-box;
     display: inline-block;
     display: -ms-flexbox;
     display: flex;
     flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     -ms-flex-pack: justify;
     justify-content: space-around;
     transform: translate3d(0, 0, 0);
     opacity: 1;
   }
   
   .dayContainer + .dayContainer {
     box-shadow: -1px 0 0 #e6e6e6;
   }
   
   .flatpickr-day {
     background: none;
     border: 1px solid transparent;
     border-radius: 150px;
     box-sizing: border-box;
     color: #393939;
     cursor: pointer;
     font-weight: 400;
     width: 14.2857143%;
     -ms-flex-preferred-size: 14.2857143%;
     flex-basis: 14.2857143%;
     max-width: 39px;
     height: 39px;
     line-height: 39px;
     margin: 0;
     display: inline-block;
     position: relative;
     -ms-flex-pack: center;
     justify-content: center;
     text-align: center;
   }
   
   .flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
     cursor: pointer;
     outline: 0;
     background: #e6e6e6;
     border-color: #e6e6e6;
   }
   
   .flatpickr-day.today {
     border-color: #959ea9;
   }
   
   .flatpickr-day.today:hover, .flatpickr-day.today:focus {
     border-color: #959ea9;
     background: #959ea9;
     color: #fff;
   }
   
   .flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
     background: #569ff7;
     box-shadow: none;
     color: #fff;
     border-color: #569ff7;
   }
   
   .flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange, .flatpickr-day.endRange.startRange {
     border-radius: 50px 0 0 50px;
   }
   
   .flatpickr-day.selected.endRange, .flatpickr-day.startRange.endRange, .flatpickr-day.endRange.endRange {
     border-radius: 0 50px 50px 0;
   }
   
   .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
     box-shadow: -10px 0 0 #569ff7;
   }
   
   .flatpickr-day.selected.startRange.endRange, .flatpickr-day.startRange.startRange.endRange, .flatpickr-day.endRange.startRange.endRange {
     border-radius: 50px;
   }
   
   .flatpickr-day.inRange {
     border-radius: 0;
     box-shadow: -5px 0 0 #e6e6e6,5px 0 0 #e6e6e6;
   }
   
   .flatpickr-day.disabled, .flatpickr-day.disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay {
     color: rgba(57, 57, 57, 0.3);
     background: transparent;
     border-color: transparent;
     cursor: default;
   }
   
   .flatpickr-day.disabled, .flatpickr-day.disabled:hover {
     cursor: not-allowed;
     color: rgba(57, 57, 57, 0.1);
   }
   
   .flatpickr-day.week.selected {
     border-radius: 0;
     box-shadow: -5px 0 0 #569ff7,5px 0 0 #569ff7;
   }
   
   .flatpickr-day.hidden {
     visibility: hidden;
   }
   
   .rangeMode .flatpickr-day {
     margin-top: 1px;
   }
   
   .flatpickr-weekwrapper {
     display: inline-block;
     /* float: left; */
   }
   
   .flatpickr-weekwrapper .flatpickr-weeks {
     padding: 0 12px;
     box-shadow: 1px 0 0 #e6e6e6;
   }
   
   .flatpickr-weekwrapper .flatpickr-weekday {
     float: none;
     width: 100%;
     line-height: 28px;
   }
   
   .flatpickr-weekwrapper span.flatpickr-day, .flatpickr-weekwrapper span.flatpickr-day:hover {
     display: block;
     width: 100%;
     max-width: none;
     color: rgba(57, 57, 57, 0.3);
     background: transparent;
     cursor: default;
     border: none;
   }
   
   .flatpickr-innerContainer {
     display: block;
     display: -ms-flexbox;
     display: flex;
     box-sizing: border-box;
     overflow: hidden;
   }
   
   .flatpickr-rContainer {
     display: inline-block;
     padding: 0;
     box-sizing: border-box;
   }
   
   .flatpickr-time {
     text-align: center;
     outline: 0;
     display: block;
     height: 0;
     line-height: 40px;
     max-height: 40px;
     box-sizing: border-box;
     overflow: hidden;
     display: -ms-flexbox;
     display: flex;
   }
   
   .flatpickr-time:after {
     content: "";
     display: table;
     clear: both;
   }
   
   .flatpickr-time .numInputWrapper {
     -ms-flex: 1;
     flex: 1;
     width: 40%;
     height: 40px;
     float: left;
   }
   
   .flatpickr-time .numInputWrapper span.arrowUp:after {
     border-bottom-color: #393939;
   }
   
   .flatpickr-time .numInputWrapper span.arrowDown:after {
     border-top-color: #393939;
   }
   
   .flatpickr-time.hasSeconds .numInputWrapper {
     width: 26%;
   }
   
   .flatpickr-time.time24hr .numInputWrapper {
     width: 49%;
   }
   
   .flatpickr-time input {
     background: transparent;
     box-shadow: none;
     border: 0;
     border-radius: 0;
     text-align: center;
     margin: 0;
     padding: 0;
     height: inherit;
     line-height: inherit;
     color: #393939;
     font-size: 14px;
     position: relative;
     box-sizing: border-box;
   }
   
   .flatpickr-time input.flatpickr-hour {
     font-weight: bold;
   }
   
   .flatpickr-time input.flatpickr-minute, .flatpickr-time input.flatpickr-second {
     font-weight: 400;
   }
   
   .flatpickr-time input:focus {
     outline: 0;
     border: 0;
   }
   
   .flatpickr-time .flatpickr-time-separator, .flatpickr-time .flatpickr-am-pm {
     height: inherit;
     display: inline-block;
     /* float: left; */
     line-height: inherit;
     color: #393939;
     font-weight: bold;
     width: 2%;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -ms-flex-item-align: center;
     -ms-grid-row-align: center;
         align-self: center;
   }
   
   .flatpickr-time .flatpickr-am-pm {
     outline: 0;
     width: 18%;
     cursor: pointer;
     text-align: center;
     font-weight: 400;
   }
   
   .flatpickr-time input:hover, .flatpickr-time .flatpickr-am-pm:hover, .flatpickr-time input:focus, .flatpickr-time .flatpickr-am-pm:focus {
     background: #f3f3f3;
   }
   
   .flatpickr-input[readonly] {
     cursor: pointer;
   }
   
   @keyframes fpFadeInDown {
     from {
       opacity: 0;
       transform: translate3d(0, -20px, 0);
     }
     to {
       opacity: 1;
       transform: translate3d(0, 0, 0);
     }
   }
   
   * {
     box-sizing: border-box;
   }
   
   /* .s002 {
     min-height: 100vh;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: center;
         justify-content: center;
     -ms-flex-align: center;
         align-items: center;
     font-family: 'Poppins', sans-serif;
     background: url("../images/Searchs_002.png");
     background-size: cover;
     background-position: center center;
     padding: 15px;
   } */
   
   /* .s002 form {
     width: 100%;
     max-width: 1190px;
   } */
   
   legend {
     font-size: 60px;
     line-height: 1;
     color: #fff;
     margin-bottom: 60px;
     font-weight: 400;
     text-align: center;
   }
 
 .inner-form {
     margin: 5% auto 5% auto;
     background: var(--bg-color);
     border: 1px solid var(--secondary-font-color);
     box-sizing: border-box;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 50px;
     /* padding: 4px; */
     position: relative;
     top: 5%;
     display: -ms-flexbox;
     display: flex;
     width: 70%;
     -ms-flex-pack: justify;
         justify-content: space-between;
     -ms-flex-align: center;
         align-items: center;
   }
   
   .inner-form .input-field {
     position: relative;
     /* border: 1px solid var(--secondary-font-color); */
     border-right: 1px solid var(--bg-color);
   }
   
   .inner-form .input-field .icon-wrap {
     position: absolute;
     top: 0;
     left: 0;
     width: 40px;
     height: 100%;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: end;
         justify-content: flex-end;
     -ms-flex-align: center;
         align-items: center;
     z-index: 1;
   }
   
   .inner-form .input-field .icon-wrap svg {
     fill: var(--font-color);
     width: 14px;
     height: 14px;
   }
   
   .inner-form .input-field input {
     height: 70px;
     background: var(--bg-color);
     border-radius: 50px;
     border: 0;
     display: block;
     width: 100%;
     padding: 0px 20px 0px 45px;
     font-size: 16px;
     color: var(--font-color);
     font-weight: 400;
     font-family: sans-serif;
   }
   
   .inner-form .input-field input.placeholder {
     color: var(--secondary-font-color);
     font-size: 16px;
     font-weight: 400;
   }
   
   .inner-form .input-field input:-moz-placeholder {
     color: var(--secondary-font-color);
     font-size: 16px;
     font-weight: 400;
   }
   
   .inner-form .input-field input::-webkit-input-placeholder {
     color: var(--secondary-font-color);
     font-size: 16px;
     font-weight: 400;
   }
   
   .inner-form .input-field input:hover, .inner-form .input-field input:focus {
     box-shadow: none;
     outline: 0;
   }
   
   .inner-form .input-field.first-wrap {
     -ms-flex-positive: 1;
         flex-grow: 1;
     border-radius: 50px;
   }
   
   .inner-form .input-field.second-wrap {
     min-width: 190px;
     max-width: 190px;
   }
   
   .inner-form .input-field.third-wrap {
     min-width: 190px;
     max-width: 190px;
   }
   
   .inner-form .input-field.fouth-wrap .choices__inner {
     background: var(--bg-color);
     border-radius: 0;
     border: 0;
     height: 70px;
     color: #666;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
         align-items: center;
     padding: 10px 32px 10px 45px;
     border-radius: 0;
   }
   
   .inner-form .input-field.fouth-wrap .choices__inner .choices__list.choices__list--single {
     display: -ms-flexbox;
     display: flex;
     padding: 0;
     -ms-flex-align: center;
         align-items: center;
     height: 100%;
     font-size: 16px;
   }
   
   .inner-form .input-field.fouth-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
         align-items: center;
     height: 100%;
     opacity: 1;
     color: #9a9a9a;
     text-transform: uppercase;
   }
   
   .inner-form .input-field.fouth-wrap .choices__inner .choices__list--single .choices__item {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
         align-items: center;
     height: 100%;
     color: #666;
   }
   
   .inner-form .input-field.fouth-wrap .choices[data-type*="select-one"]:after {
     right: 30px;
     border-color: #e5e5e5 transparent transparent transparent;
   }
   
   .inner-form .input-field.fouth-wrap .choices__list.choices__list--dropdown {
     border: 0;
     background: #fff;
     padding: 10px 15px;
     border-radius: 0;
     box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
   }
   
   .inner-form .input-field.fouth-wrap .choices__list.choices__list--dropdown .choices__item--selectable {
     padding-right: 0;
   }
   
   .inner-form .input-field.fouth-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
     background: #fff;
     color: #b78a62;
   }
   
   .inner-form .input-field.fouth-wrap .choices__list--dropdown .choices__item {
     color: #555;
     min-height: 24px;
     font-size: 16px;
   }
   
   .inner-form .input-field.fifth-wrap {
     min-width: 120px;
     max-width: 120px;
     padding-left: 10px;
     border-right: 0;
   }
   
   .inner-form .input-field.fifth-wrap .btn-search {
     height: 50px;
     width: 47%;
     background: var(--primary-color);
     white-space: nowrap;
     border-radius: 50%;
     font-size: 20px;
     color: #fff;
     transition: all .2s ease-out, color .2s ease-out;
     border: 0;
     cursor: pointer;
     font-weight: 400;
     font-family: 'Poppins', sans-serif;
   }
   
   .inner-form .input-field.fifth-wrap .btn-search:hover {
     background: var(--primary-color);
     box-shadow: 0 0 12px var(--secondary-font-color) inset;
   }
   
   @media screen and (max-width: 992px) {
     legend {
       font-size: 50px;
       text-align: center;
       margin-bottom: 50px;
     }
     .inner-form {
       -ms-flex-wrap: wrap;
           flex-wrap: wrap;
       -ms-flex-pack: justify;
           justify-content: space-between;
     }
     .inner-form .input-field {
       margin-bottom: 15px;
     }
     .inner-form .input-field.first-wrap {
       width: 100%;
     }
     .inner-form .input-field.second-wrap {
       width: calc(50% - 7.5px);
       max-width: none;
     }
     .inner-form .input-field.third-wrap {
       width: calc(50% - 7.5px);
       max-width: none;
     }
   }
   
   .main-title{
     /* display: inline-block; */
     margin: auto auto 0px auto;
     position: relative;
     top: 6%;
     left: 2%;
     border-spacing: 300px;
   }
   .main-title-text{
     padding-top: 0%;
   }
   h1{
     /* font-weight: 800;
     font-size: 300%; */
   }
   h2{
     /* font-weight: 200;
     font-size: 150%; */
   }
   .main-title-graphic{
     max-width: 97%;
     max-height: 97%;
   }
 
   @media screen and (max-width: 767px) {
     legend {
       font-size: 40px;
       margin-bottom: 40px;
     }
     .inner-form .input-field.second-wrap, .inner-form .input-field.third-wrap {
       width: 100%;
       margin-bottom: 15px;
     }
     .inner-form .input-field.fifth-wrap {
       margin-bottom: 0;
     }
   }
   
   